[submodule "lib/vanessa-runner"]
	path = lib/vanessa-runner
	url = https://github.com/agrudtsin/vanessa-runner.git
[submodule "lib/vanessa-behavior"]
	path = lib/vanessa-behavior
	url = https://github.com/silverbulleters/vanessa-behavior.git
[submodule "lib/vanessa-stack-commons"]
	path = lib/vanessa-stack-commons
	url = https://github.com/silverbulleters/vanessa-stack-commons.git
